body {
    font-family: Arial, sans-serif;
    background-color: hsl(290, 85%, 50%);
    margin: 20px;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: burlywood;
    color:#333;
    text-align: center;
    padding: 10px;
}