body {
    font-family: Arial, sans-serif;
    background-color: hsl(290, 85%, 50%);
    margin: 20px;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: none;
    height: 60px;
    width: min-content;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1.8s linear;
    overflow: hidden;
}
nav.active{
    height: min-content;
    width: min-content;
}
.hamburger{
    display: flex;
    background-color: none;
    border: none;
    flex-direction: column;
    align-items: center;
    width: min-content;
    cursor: pointer;
    transition: all 1.8s linear;
}
nav a{
    text-decoration: none;
    color: #fff;
    width: max-content;
    max-height: 0px;
    overflow: hidden;
    transition: all 1.8s linear;
}
nav.active a{
    padding: 5px;
    max-height: min-content;
}
footer {
    background-color: burlywood;
    color:#333;
    text-align: center;
    padding: 10px;
}